target/
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse files #
.classpath
.project
.settings/

# OS files #
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/

# Archivos de configuración específicos de IntelliJ IDEA
*.iml
*.iws
*.ipr

# Directorio de salida de compilación
out/

# Directorio de archivos generados
target/

